<h2>Edit profile</h2>

<%= form_for @profile, url: user_profile_path(current_user, id: @profile) do |f| %>
  <div class="form-group">
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit :class => "btn btn-primary btn-xs" %>
    <%= link_to 'Back', :back, class: "btn btn-default btn-xs" %>
  </div>
<% end %>