<h2>Create lesson</h2>

<%= form_for @lesson, url: admin_lessons_path(course_id: @course) do |f| %>
  <div class="form-group">
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit :class => "btn btn-primary btn-xs" %>
    <%= link_to 'Back', :back, class: "btn btn-default btn-xs" %>
  </div>
<% end %>