<h1>Admin<%= @lesson.title %></h1>

<%= link_to 'Create', new_admin_lesson_unit_path(@lesson), class: 'btn btn-success btn-xs' %>
<ul>
  <% @units.each do |unit| %>
  <li>
    <%= unit.title %>
  </li>
  <li>
    <%= unit.description %>
  </li>
  <li>
  </li>
  <% end %>
</ul>