<h1>My Calendar</h1>

<%= link_to 'New Event', new_event_path, class: "btn btn-success btn-xs" %>

<div id="calendar"></div>

<script>
  $('#calendar').fullCalendar({
    events: '/events.json'
  });
</script>