// Place all the styles related to the admin::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row
  margin: auto  !important

.user_info
  height: 200px
  overflow-wrap: break-word

  .col-sm-12
    padding: 0

  #user_top
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

    .picture 
      border-radius: 50%
      width: 60px
      height: 60px
      margin-right: 10px
      overflow: hidden
      box-shadow: 0 0 5px rgba(0,0,0,.5)
    
    .who_level
      width: 100px
      

