  <ul class="courses_list">
    <div class="row">
      <% @courses.each do |course| %>
        <%= link_to course_path(course, lesson: course.lessons.first) do %>
          <div class="col-sm-4 ">
            <div class="course_box" id="course_<%= course.id %>">
              <li class="text-center">
                <div class="index_intro">
                  <h2><%= course.title %></h2>
                </div>
                <div class="course_info text-muted">
                  <div class="total_hours"><span>Total Hours : 12 hrs</span></div>
                </div>
                <i class="access"></i>
              </li>
              <div class="course_intro text-center">
                <h3>Lorem ipsum dolor.</h3>
                <p style="padding: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste exercitationem accusantium error blanditiis earum nostrum, qui cum voluptatum voluptate inventore.</p>
              </div>
              <div class="bg_color">
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </ul>

  <script>

    
    
  
  </script>