//= require fullcalendar
//= require daterangepicker
//= require_bootstrap
//= require_self
//= require_tree .
@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"
@import "animate"

// keyframes ==========================================

@keyframes fadeInUp
  from 
    opacity: 0
    transform: translate3d(0, 20%, 0)

  to
    opacity: 1
    transform: none

// regular setting=====================================

$color_picton_blue: #4DA1FF
$color_powderblue_bg: #F4F8F9
$color_white: #F7F7F7
$color_cerulean: #007EA7
$color_prussianblue: #003459




*
  // border: solid 1px
  box-sizing: border-box
  
body, html
  // height: 100vh
  margin: 0
  padding: 0
  background-color: $color_powderblue_bg

h1, p
  transition: .5s

h2
  margin-top: 10px

ul
  list-style-type: none
  margin: 0
  padding: 0

th
  text-align: center

.hidden
  opacity: 0

.modal
  background-color: white
  width: 400px
  height: 400px
  margin: auto
  margin-top: 50px

// navbar setting======================================

.admin_btn
  margin-top: 20px

.navbar
  height: 97px

.navbar-left

  li
    margin-left: 10px
    padding-top: 20.5px
    padding-bottom: 16.5px
    border-bottom: solid 4px #f7f7f7
    transition: .2s
    a
      color: $color_picton_blue !important

    &:hover
      border-bottom: solid 4px $color_picton_blue

.navbar-brand
  height: 97px

.login
  margin-top: 23px

.profile
  text-align: center
  // border: 1px solid
  border-radius: 50%
  width: 60px
  height: 60px
  overflow: hidden
  box-shadow: 0px 0px 8px rgba(0,0,0,.3)

.user_account
  li
    display: inline-block
    margin-right: 8px
    a
      line-height: 80px
      height: 80px
      font-size: 18px

      &:hover, &:active, &:link, &:visited
      color: $color_picton_blue
      background-color: transparent
      text-decoration: none


footer
  height: 100px
  background-color: $color_cerulean
  color: white