@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"


// regular setting=====================================

*
  // border: solid 1px
  box-sizing: border-box

body, html
  // height: 100vh
  margin: 0
  padding: 0

body
  // background-image: url("https://i.imgur.com/HR0ndVq.jpg")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  filter: alpha(opacity=50)

h1, p
  transition: .5s

ul
  list-style-type: none
  margin: 0
  padding: 0

th
  text-align: center

// navbar setting======================================


.admin_btn, .navbar-header
  margin-top: 20px

.navbar
  height: 97px

.login
  margin-top: 23px

.profile
  border: 1px solid
  border-radius: 50%
  width: 60px
  height: 60px
  overflow: hidden


// profile page setting ==============================

.picture 
  // border: 2px solid
  border-radius: 50%
  width: 200px
  overflow: hidden


// course index setting================================

.courses_list
  margin-top: 60px

  a
  &:hover, &:active, &:link, &:visited
    color: black
    background-color: transparent
    text-decoration: none

.course_box
  height: 60vh
  margin: -5px

  border: solid 1px #333
  border-radius: 10px
  box-shadow: 0px 0px 8px rgba(0,0,0,.5)

  transition: .5s
  background-color: #F6F5F5
  

  &:hover
    transform: scale(1.02)
    box-shadow: 0px 0px 10px rgba(0,0,0,.8)

  &:hover h1
    transform: scale(1.05)

  &:hover p
    transform: scale(1.2)
  
  &:hover .course_info
    transform: scale(1.1)

.index_intro
  margin-top: 40%

.row
  width: 95%
  margin: auto

.course_info
  // position: absolute
  margin-top: 50px
  transition: .5s



// course show setting=================================










footer
  height: 100px
  background-color: #222
  color: white