@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


// regular setting=====================================

*{
  // border: solid 1px;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


// course index setting================================

.courses_list{
  margin-top: 60px;
}

.course_box{
  height: 60vh;
  margin: -5px;

  border: solid 1px #333;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0,0,0,.5);

  transition: .5s;
}

.course_box:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);

  background-image: 
}

.index_intro{
  margin-top: 40%;
}

.row{
  width: 95%;
  margin: auto;
}

.row:first-child .course_box{
  background-image: url('http://legacy.skyscrapercenter.com/class-image.php/userpics/10005/?width=1000&height=800&image=/images/albums/userpics/10005/Tapei101_Ext-MainUp_%28c%29TaipeiFinancial.jpg');
  background-position: -60px, 0px;
}