//= require_tree .
//= require_self
@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"


// regular setting=====================================

$color_picton_blue: #4DA1FF
$color_powderblue_bg: #F4F8F9
$color_white: #F7F7F7
$color_cerulean: #007EA7
$color_prussianblue: #003459




*
  // border: solid 1px
  box-sizing: border-box
  
body, html
  // height: 100vh
  margin: 0
  padding: 0
  background-color: $color_powderblue_bg

h1, p
  transition: .5s

h2
  margin-top: 10px

ul
  list-style-type: none
  margin: 0
  padding: 0

th
  text-align: center

// navbar setting======================================




// profile page setting ==============================


// course index setting================================







// course show setting=================================

.course_left_pannel




// unit show setting===================================



#next_btn
  transition: .2s

.forbid
  border: solid 1px grey
  background-color: #eee
  color: grey
  cursor: not-allowed






footer
  height: 100px
  background-color: #222
  color: white