// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// regular setting=====================================

$color_picton_blue: #4DA1FF
$color_powderblue_bg: #F4F8F9
$color_white: #F7F7F7
$color_cerulean: #007EA7
$color_prussianblue: #003459


.container
  padding-left: 0 !important
  padding-right: 0 !important

// index page =================================================

.courses_list
  .row
    width: 100%
    margin-right: 0
    margin-left: 0

  a
    &:hover, &:active, &:link, &:visited
      color: black
      background-color: transparent
      text-decoration: none

.course_box
  height: 60vh
  max-height: 400px
  margin: 10px

  border: solid 1px #333
  border-radius: 10px
  box-shadow: 0px 0px 8px rgba(0,0,0,.5)

  transition: .5s
  background-color: #F6F5F5

  &:hover
    transform: scale(1.02)
    box-shadow: 0px 0px 10px rgba(0,0,0,.8)

  &:hover h1
    transform: scale(1.05)

  &:hover p
    transform: scale(1.2)
  
  &:hover .course_info
    transform: scale(1.1)

.index_intro
  margin-top: 15%

.row
  margin: auto

.course_info
  margin-top: 20px
  transition: .5s

.access
  margin-top: 120px


// course show page ===============================================

.course_left_pannel
  background-color: $color_white
  box-shadow: 0 0 5px rgba(0,0,0,.5)
  padding: 10px
  margin: 10px
  height: 400px

  a
    line-height: 100%
    width: 100%
    &:hover, &:active, &:link, &:visited
      color: $color_picton_blue
      background-color: transparent
      text-decoration: none

  .lessons_box
    text-align: center
    padding: 15px 20px
    margin-top: 10px
    border: solid 2px $color_picton_blue
    border-radius: 5px
    transition: .3s

    &:hover
      background-color: $color_picton_blue
      color: white


.course_right_pannel
  background-color: $color_white
  box-shadow: 0 0 5px rgba(0,0,0,.5)
  padding: 20px
  margin: 10px
  height: 400px

  a
    &:hover, &:active, &:link, &:visited
      color: $color_picton_blue
      background-color: transparent
      text-decoration: none

.col-sm-3, .col-sm-9
  padding-left: 0 !important
  padding-right: 0 !important