<div class="form-group">
    <ul>
      <li><%= course.input :title, input_html: { class: "form-control"} %></li>
      <li><%= course.input :description, input_html: { class: "form-control"} %></li>
    </ul>
  </div>